@use './variables' as *;

.slider {
  background-color: $bgColor;
  padding: 10px 0;
  .card {
    width: 100%;

    .card-img-top{
      width: 100%;
    }

    .card-body {
      padding: 7px;
      
      .card-title {
        margin: 0;
        font-size: .8rem;
      }
      .card-text {
        color: #525252;
        font-size: .7rem;
        margin: 0;
      }
    }
  }
}