@use './variables' as *;

.slider {
  background-color: $bgColor;
  padding: 10px 0;
  .card {

    .card-img-top{
      width: 100%;
    }

    .card-body {
      padding: 5px;
      
      .card-title {
        margin: 0;
      }
      .card-text {
        color: #6E6E6E;
      }
    }
  }
}