@use './variables' as *;

.lifeStyle{
  background-color: $lightColor;

  .presentation {
    height: 100%;

    .presentationPhotos{
      width: 60%;
      margin-right: 8px;
    }

    .listPhotos {
      width: 40%;

      .foto{
        height: 100px;
        padding: 8px 0;
        
        &.middle {
          border-block: 1px solid;
        }

        .img {
          height: 100%;
          display: inline;
          img{
            height: 100%;
          }
        }
      }
    }
  }
}