@use './variables' as *;

.lifeStyle{

  .presentation {
    height: 100%;

    .presentationPhotos{
      width: 60%;
      margin-right: 8px;
      overflow: hidden;
    }

    .listPhotos {
      width: 40%;

      .foto{
        height: 100px;
        padding: 8px 0;
        
        &.middle {
          border-block: 1px solid;
        }

        .imgCard {
          height: 100px;
          display: inline;
          padding: 5px;
          
          .imageBtnPosition{
            height: 100%;
            position: relative;

            img{
              height: 100%;
              border-radius: 5px;
              margin-right: 5px;
            }
            .btnPosition{
              position: absolute;
              background-color: $lightColor;
              padding: 2px;
              top: 10px;
              left: 10px;
              border-radius: 8px;
            }
          }
          .infoLifeStyle {
            span {
              font-size: .8rem;
            }
          }
        }
      }
    }
  }
}