.containerDisplay {
  border: 1px solid black;
  height: 300px;
  overflow: hidden;

  .grande {
    width: 70%;
    border: 1px solid black;
    
  }
  .lista {
    width: 30%;
    height: 100%;

    .scan{
      overflow: auto;
      height: 100%;

        div {
          border: 1px solid black;
          height: 50px;
        }
    }
  }
}