@use './variables' as *;

.containerDisplay {
  border: 1px solid black;
  height: 340px;
  overflow: hidden;

  
  .bigView {
    width: 65%;
    border: 1px solid black;
    img{
      object-fit: contain;
    }
  }
  .sectionVideos {
    width: 35%;
    height: 100%;
    
    .videosPlaylist {
      background-color: $elementColor;
      color: white;
      height: 60px;
    }
    .small-view{
      overflow: auto;
      height: calc(100% - 60px);

        .video {
          border: 1px solid black;
          height: 60px;

          img {
            width: 70px;
            height: 30px;
            padding: 5px;
            border-radius: 10px;
          }

          .videoTextTitle{
            width: 100%;
          }
        }
    }
  }
}