@use './variables' as *;

.containerDisplay {
  border: 1px solid black;
  height: 340px;
  overflow: hidden;

  
  .grande {
    width: 70%;
    border: 1px solid black;
    img{
      object-fit: cover;
    }
  }
  .lista {
    width: 30%;
    height: 100%;
    
    .videosPlaylist {
      background-color: $elementColor;
      color: white;
    }
    .scan{
      overflow: auto;
      height: 100%;

        div {
          border: 1px solid black;
          height: 50px;
        }
    }
  }
}