@use '../scss/partials/variables' as *;

footer {
  background-color: $primaryColor;
  color: $lightColor;
  
  .container {
    max-width: 800px;
  }

  .upperFooter {
    padding: 30px 0;
    border-bottom: 1px solid $lightColor;

    .cardMenuInfo{
      .menuInfo {
        padding: 0;
        li {
          list-style: none;
          cursor:pointer;
          a{
            text-decoration: none;
            color: $lightColor;
            
            &:hover {
              color: $elementColor;
            }
          }
        }
      }
    }
  }

  .bottomFooter {
    padding: 30px 0;
  }
}