@use '../scss/partials/variables' as *;

footer {
  background-color: $primaryColor;
  color: $lightColor;
  
  .upperFooter {
    padding: 30px 0;
    border-bottom: 1px solid $lightColor;

    .cardMenuInfo{
      .menuInfo {
        padding: 0;
        li {
          list-style: none;
        }
      }
    }
  }

  .bottomFooter {
    padding: 30px 0;
  }
}