@use '../scss/partials/variables' as *;

header {
  color: $lightColor;
  
  .container {
    max-width: 800px;
  }
  
  .newsUpdate{
    background-color: $primaryColor;

    .containerHead{
      height: 50px;
      width: 100%;
      
      .profileButton{
        height: 50px;
        background-color: $elementColor;
        
        .buttonUpdates {
          padding: 0 10px;
        }
        
        .profileImage {
          height: 100%;
        }
      }

      .bord {
        padding: 5px;
        border-radius: 50%;
        background-color: white;
        color: $primaryColor;
        cursor: pointer;
        &:hover {
          background-color: $elementColor;
          color: $lightColor;
        }
      } 
      .fa-solid{
        padding: 5px 8px;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        &:hover {
          background-color: $elementColor;
          color: $primaryColor;
        }
      }
    }
  }

  .banner {
    height: 100px;

    .containerBanner{
      width: 100%;
      #logo{
        width: 50%;
      }
        .bannerImage {
          height: 100%;
          
          img{
            border-radius: 10px;
            height: 60px;
          }
        }

    }
  }
}