@use '../scss/partials/variables' as *;

header {
  color: $lightColor;
  
  .newsUpdate{
    background-color: $primaryColor;

    .containerHead{
      height: 50px;
      width: 100%;
      
      .profileButton{
        height: 50px;
        background-color: $elementColor;
        
        .buttonUpdates {
          padding: 0 10px;
        }
        
        .profileImage {
          height: 100%;
        }
      }
    }
  }

  .banner {
    height: 120px;

    .containerBanner{
      width: 100px;

    }
    .bannerImage {
      width: 100%;
    }
  }
}