@use '../scss/partials/variables' as *;
@import 'bootstrap/scss/bootstrap.scss';
@import '@fontsource-variable/noto-sans-lao';

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Noto Sans Lao Variable', sans-serif;
  font-size: small;

  main {
    background-color: $lightColor;

    .container {
      max-width: 800px;
    }
  }
}